# Informações do Host e usuario do BD
DB_HOST=localhost
DB_USER=root
# Senha do Banco
DB_PASSWORD=
# Nome do BD
DB_NAME_DEV=sistema_servicos
DB_NAME_TEST=sistema_servicos_test

# Secret para criptografia
JWT_SECRET=

# Autenticação
AUTH_ENABLED=false