# Informações do Host e usuario do BD
DB_HOST=localhost
DB_USER=root
# Senha do Banco
DB_PASSWORD=root
# Nome do BD
DB_NAME_DEV=sistema_servicos
DB_NAME_TEST=sistema_servicos_test

# Secret para criptografia
JWT_SECRET="minha_frase_secreta_super_secreta_12345"

# Autenticação
AUTH_ENABLED=false